nav{
    background-color: #03001C;
    border-bottom: solid 1px white;
}

.navbar img.logo {
    margin-left: 5%;
    margin-right: 5%;
    width: 17%;
    height: 10%;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    padding-right: 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #EFEFEF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

li a{
    color: white;
    text-align: center;
}

li a:hover{
    color: white;
}

.wa-button{
    margin-left: 60%;
    
}

/* WHATSAPP SECTION */

#whatsapp{
    background-image: url("background.jpg");
    color: aliceblue;
}

.whatsapp{
    text-align: center;
    margin: 2%;
    background-color: rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 2%;
}

.cobroz{
    height: 80%;
    width: 80%;
}

.links{
    margin: 2%;
}

/* FEATURES SECTION */

#features{
    margin: 2%;
    margin-left: 5%;
}

.feature-row{
    margin-top: 2%;
}

.feature-card{
    text-align: center;
    padding: 2%;
}

#aboutus{
    padding: 5%;
    background-image: url("background.jpg");
    color: white;
}

.aboutus{
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.75);
}

footer{
    padding: 5%;
    background-color: black;
    font-family: monospace;
    text-align: center;
    color: rgb(68, 68, 80);
}
